.form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
}
.movies {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    //justify-content: center;
}