<div class="card">
    <img src="../../assets/images/{{ data.movie.id }}.jpeg" alt="{{ data.movie.name }} poster">
    
    <div class="info">
        <h1>{{ data.movie.name }}</h1>
        <p>{{ data.genres }}</p>
        <p>{{ data.movie.year }}</p>
        <p>{{ data.movie.description }}</p>
    </div>

    <div class="controls">
        <button mat-flat-button color="{{ isBest() ? 'accent' : 'primary' }}" (click)="bestify()">{{ isBest() ? 'Удалить из лучших фильмов' : 'Выбрать лучшим фильмом' }}</button>
        <button mat-flat-button color="warn" (click)="this.dialogRef.close()">Закрыть</button>
    </div>
</div>