.card {
    position: relative;
    padding: 1.5rem;
    max-width: 900px;
    height: fit-content;
    border-radius: 1rem;
    background-color: white;
    box-shadow: 0 0 1rem 5px rgba(0,0,0, 0.1);

    display: flex;
    flex-direction: row;
    gap: 1.5rem;

    h1 {
        line-height: 100%;
    }

    img {
        height: 350px;
        border-radius: 0.5rem;
    }

    .info {
        color: #1d1838;
        line-break: loose;
    }

    .controls {
        position: absolute;
        bottom: 1.5rem;
        right: 1.5rem;
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    .mat-blue {
        color: #3f51b5;
    }

    .mat-red {
        color: #f44366;
    }
}